# Env
.env
.envrc
*.env
!.env.example

# Node
node_modules/
dist/
.npm

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/
.mypy_cache/
.ruff_cache/

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# CLI generated projects (from ezl init)
packages/cli/*/
